<div class="jumbotron text-center">
    <h1 class="display-4">BLOG</h1>
    <p class="lead">This is a simple blog app.</p>
    <hr class="my-4">
    <%= link_to 'Sign up', signup_path, class: "btn btn-primary btn-lg" %>
</div>
