@import "bootstrap";

footer {
    bottom: 0;
    position: relative;
    text-align: center;
    margin-top: 25px;
    margin-bottom: 25px;
}



.title {
    font-size: 18px;
    margin-top: 25px;
    text-transform: uppercase;
    font-weight: bold;
    letter-spacing: -1px;
    color: #222;
}

.label-title {
    font-size: 16px;
    font-weight: bold;
    letter-spacing: -1px;
    color: #222;
}

.form {
    margin-top: 25px;
}

.go_back_link {
    padding-bottom: 25px;
}

.card-meta-details {
    border-top: 1px solid #eaeaea;
    margin-top: 15px;
}

/* Custom Stylesheet */

/* Navbar */

a.navbar-brand {
    font-family: "Avenir", sans-serif;
    font-weight: 700;
    font-size: 18px;
    text-transform: uppercase;
    color: #222;
}

a.navbar-brand:hover {
    color: #666;
}   

.navbar-light .navbar-nav .nav-link,
.dropdown-item {
    color: #222;
    font-family: "Avenir", sans-serif;
    font-weight: 700;
    font-size: 14px;
    text-transform: uppercase;
    color: #222;
}

.bg-light {
    background-color: #fff !important;
}

/* landing page */

.landing-page {
    background-color: #fff;
}

.btn-primary {
    font-family: "Avenir", sans-serif;
    font-weight: 300;
    font-size: 16px;
    text-transform: uppercase;
    color: #fff;
}

/* articles */ 

.card-title a {
    font-family: "Avenir", sans-serif;
    font-weight: 700;
    font-size: 18px;
    text-transform: uppercase;
    color: blue;
}

.card-title a:hover {
    text-decoration: none;
    color: darkblue;
}

p.card-text.content {
    font-family: "Avenir", sans-serif;
    font-weight: 300;
    font-size: 16px;
}

.card-meta-details small {
    font-weight: 700;
    color: blue;
}