@import "bootstrap";

#logo {
    float: left;
    font-size: 1.7em;
    color: #222;
    text-transform: uppercase;
    letter-spacing: -1px;
    font-weight: bold;
}

#logo:hover {
    color: #555;
    text-decoration: none;
}
